power redundancy-mode combined force

hostname {{ details.hostname }}
vdc {{ details.hostname }} id 1
  limit-resource vlan minimum 16 maximum 4094
  limit-resource vrf minimum 2 maximum 4096
  limit-resource port-channel minimum 0 maximum 511
  limit-resource u4route-mem minimum 96 maximum 96



limit-resource u6route-mem minimum 24 maximum 24
  limit-resource m4route-mem minimum 58 maximum 58
  limit-resource m6route-mem minimum 8 maximum 8

feature telnet
feature nxapi
feature bash-shell
feature scp-server

no password strength-check
username admin password 5 $1$KuOSBsvW$Cy0TSD..gEBGBPjzpDgf51  role network-admin
username adminbackup password 5 !  role network-operator
username cisco password 5 $1$Nk7ZkwH0$fyiRmMMfIheqE3BqvcL0C1  role network-operator
username cisco role network-admin
username lab password 5 $1$buoy/oqy$.EXQz8rCn72ii8qtdldj00  role network-admin
ip domain-lookup
snmp-server user lab auth md5 0x5ceb414591539ee35159fca86fdfa101 priv 0x5ceb414591539ee35159fca86fdfa101 localizedkey engineID 128:0:0:9:3:170:170:170:170:170:170
snmp-server user admin auth md5 0x328945d53e05e8e7207f8c20b142f0b7 priv 0x328945d53e05e8e7207f8c20b142f0b7 localizedkey engineID 128:0:0:9:3:170:170:170:170:170:170
snmp-server user cisco auth md5 0x55b3c64a53fb95518e75358ee75e82e9 priv 0x55b3c64a53fb95518e75358ee75e82e9 localizedkey engineID 128:0:0:9:3:170:170:170:170:170:170
rmon event 1 log trap public description FATAL(1) owner PMON@FATAL
rmon event 2 log trap public description CRITICAL(2) owner PMON@CRITICAL
rmon event 3 log trap public description ERROR(3) owner PMON@ERROR
rmon event 4 log trap public description WARNING(4) owner PMON@WARNING
rmon event 5 log trap public description INFORMATION(5) owner PMON@INFO

vlan 1

vrf context management
  ip route 0.0.0.0/0 172.16.30.254
hardware forwarding unicast trace


interface Ethernet1/1
  description Ethernet1/1
  no switchport
  no shutdown

interface Ethernet1/2
  description Ethernet1/2
  no switchport
  no shutdown

interface Ethernet1/3
  description Ethernet1/3
  no switchport
  no shutdown

interface Ethernet1/4
  description Ethernet1/4
  no switchport
  no shutdown

interface mgmt0
  description OOB Management
  vrf member management
  ip address {{ details.mgmt0_ip }}

interface loopback0
  description Loopback
  ip address {{ details.lo0_ip }}

line console
line vty
boot nxos bootflash:/nxos.7.0.3.I6.1.bin 
